.jcarousel-container {
    &.jcarousel-container-horizontal {
        width: 940px;
        padding: 10px 30px;
    }

    .jcarousel-clip {
        overflow: hidden;
    }

    .jcarousel-clip-horizontal {
        width:  860px;
        height: 100px;
    }

    .jcarousel-item {
        width: 150px;
        height: 100px;
    }

    .jcarousel-item-horizontal {
        margin-left: 0;
        margin-right: 5px;
    }

    .jcarousel-next-horizontal {
        position: absolute;
        top: 43px;
        right: 0px;
        width: 22px;
        height: 30px;
        cursor: pointer;
        background: transparent image-url('sprites/seta-direita.png') no-repeat 0 0;

        &:hover, &:focus {
            // background-position: -32px 0;
        }

        &:active {
            // background-position: -64px 0;
        }
    }

    .jcarousel-next-disabled-horizontal,
    .jcarousel-next-disabled-horizontal:hover,
    .jcarousel-next-disabled-horizontal:focus,
    .jcarousel-next-disabled-horizontal:active {
        cursor: default;
        background-position: -96px 0;
    }

    .jcarousel-prev-horizontal {
        position: absolute;
        top: 43px;
        left: 0px;
        width: 22px;
        height: 30px;
        cursor: pointer;
        background: transparent image-url('sprites/seta-esquerda.png') no-repeat 0 0;

        &:hover, &:focus {
            // background-position: -32px 0;
        }

        &:active {
            // background-position: -64px 0;
        }
    }

    .jcarousel-prev-disabled-horizontal,
    .jcarousel-prev-disabled-horizontal:hover,
    .jcarousel-prev-disabled-horizontal:focus,
    .jcarousel-prev-disabled-horizontal:active {
        cursor: default;
        // background-position: -96px 0;
    }

    &.jcarousel-direction-rtl {
        direction: rtl;
        .jcarousel-item-horizontal {
            margin-left: 10px;
            margin-right: 0;
        }

        .jcarousel-next-horizontal {
            left: 5px;
            right: auto;
            background-image: url(prev-horizontal.png);
        }

        .jcarousel-prev-horizontal {
            left: auto;
            right: 5px;
            background-image: url(next-horizontal.png);
        }
    }

}

@media only screen and (max-width: 479px) {
    .jcarousel-container {
        &.jcarousel-container-horizontal {
            width: 100%;
            padding: 10px 10%;
        }

        .jcarousel-clip-horizontal {
            width:  100%;
            height: 100px;
        }

        &.jcarousel-half {
            &.jcarousel-container-horizontal {
                width: 100%;
                padding: 10px 10%;
            }

            .jcarousel-clip-horizontal {
                width:  100%;
                height: 100px;
            }
        }
    }
}
