@mixin inline-block(){
    display:inline-block;

    // IE7 fix
    *display:inline;
    *zoom:1;
}

@mixin clear-floats(){
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }

    & {
        zoom: 1;
    }
}