@import "stitch";
@import "normalize";
@import "fonts";
@import "settings";
@import "foundation";
@import "vendor/inuit";
@import "stuff";
@import "mixin";

$icones: sprite-map('sprites/*.png', $spacing: 100px);

body {
    // border-top: 6px solid #ffffff;
    background:#ffffff image-url('fundo.jpg') repeat-x left 35px;
    @include improve-text-rendering;

    &.bg-grande, &.home {
        background:#ffffff image-url('fundo-grande.jpg') repeat-x left 35px;
    }
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cf { @include clear-floats; }
.fl { float: left; }
.fr { float: right; }
.fr { float: none; }

.th {
    margin-bottom: 10px;
    border-width: 2px;
    &.fl { margin-right: 10px; }
    &.fr { margin-left: 10px; }
}

.barra-preta {
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    z-index: 99;
    background: $black;
    @include background-image(linear-gradient($black, lighten($black, 20%)));
    @include single-box-shadow(rgba(#333,0.5), 0, 2px, 10px);

    .menu-secundario {
        .sub-nav {
            margin: 0 auto;
            text-align: center;

            dd {
                float: none;

                a {
                    color: #ffffff;
                    display: inline-block;
                    margin-left: 8px;
                    @include font-size(10);

                    &:hover { color: $vermelho; }
                }
            }
        }
    }
}

.header {
    padding-top: 25px;

    .logo {
        margin-top: 30px;

        a {
            display: block;
            @include replace-text-with-dimensions('logo.png');
        }
    }

    .menu-principal {
        ul.menu {
            margin-top: 65px;
            margin-right: -10px;
            float: right;

            > li {
                a {
                    color: $black;
                    display: block;
                    @include sans-serif("AvenirNextLTPro-Demi");
                    @include font-size(18);
                }
                &:hover{
                    a{
                        &:hover, &.active {
                            color: $black;
                            background:{
                                image: image-url('sprites/menu-seta-baixo.png');
                                repeat: no-repeat;
                                position: center 70px;
                            }
                        }
                    }
                }
                &.active {
                    // background-color: lighten($black,30%);
                }

                > .sub-menu {
                    a {
                        color: $black;
                        &:hover, &.active { color: $black; }
                        // &.active { background-color: rgba($vermelho,0.5); }
                    }
                }
            }
        }
    }
}

.conteudo {
    margin-top: 50px;
    padding-bottom: 50px;
}

.footer-unidades {
    background:#ffffff image-url('fundo-grande.jpg') repeat left top;
    padding-top: 30px;

    .ipad {
        background: transparent image-url('ipad-fundo.png') no-repeat left top;
        width: 270px;
        height: 270px;
        padding-top: 60px;
        text-align: center;
        text-transform: uppercase;

        p {
            @include sans-serif("AvenirNextLTPro-Regular");
            @include font-size(20);
            line-height: 1.2em;
            margin-top: 10px;
        }
    }

    .unidades {
        .cima {
            border-bottom: 1px dashed $white;
        }

        .unidade {
            background: transparent image-url('sprites/ico-endereco.png') no-repeat 0 13px;
            padding-left: 25px;

            h3 {
                color: #27669c;
                @include sans-serif("AvenirNextLTPro-Regular");
            }

            p {
                @include sans-serif("AvenirNextLTPro-Demi");
                @include font-size(16);
                margin: 5px 0 20px;
            }
        }
    }
}

.footer {
    background:#757575;
    padding: 30px 0 15px;

    ul.menu {
        width: 100%;

        > li {
            @include horizontal-list-item(false);
            margin-right: 10px;
            a { color: $white; }
        }
    }

    .direitos {
        margin-top: 20px;
        text-align: center;
        color: #bababa;

        p { margin: 0; float: left; }
    }

    p.branco {
        margin: 0 0 5px 0;
        @include font-size(12);
    }
}

.barra-contato {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 40px;
    padding-top: 3px;
    overflow: visible;
    background: $vermelho;
    color: #fff;
    @include background-image(linear-gradient($vermelho, darken($vermelho, 10%)));
    @include single-box-shadow(rgba(#333,0.5), 0, 2px, 10px);

    .logo {
        position: relative;
        height: 40px;

        a {
            @include sprite-replace-text($icones, logo-contato, true);
            position: absolute;
            bottom: 7px;
            left: 0;
        }
    }

    .alo-pacaembu {
        text-align: center;

        h3 {
            margin: 5px 0;
            color: #ffffff;
        }
    }

    .slider-unidades {
        position: relative;

        .seta {
            position: absolute;
            top: 6px;
            z-index: 4;

            &.esquerda {
                left: 0;
                @include sprite-replace-text($icones, seta-esquerda-contato, true);
            }

            &.direita {
                right: 0;
                @include sprite-replace-text($icones, seta-direita-contato, true);
            }
        }

        .container-slides {
            $slider_width: 360px;

            width: $slider_width;
            height: 43px;
            position: relative;
            margin-left: 20px;
            overflow: hidden;

            ul {
                position: absolute;
                left: 0;
                top: 0;
                width: 9999999px;
                height: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                z-index: 3;

                li {
                    width: $slider_width;
                    margin-top: 6px;
                    float: left;
                    color: $white;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-align: center;
                    @include sans-serif("AvenirNextLTPro-Demi");
                }
            }
        }
    }

    .menu-secundario {
        .sub-nav {
            margin: 0;
            float: right;

            dd {
                border-left: 1px dotted rgba($white, 0.4);
                padding: 0 15px;
                margin: 0;
                height: 25px;

                a {
                    margin: 0;

                    &:hover {
                        color: $black;
                    }
                }

                &.ultimo { border-right: 1px dotted rgba($white, 0.4); }
            }

            a {
                color: #ffffff;
                display: inline-block;
                margin-left: 8px;
                @include font-size(10);

                &:hover { color: $vermelho; }
            }
        }
    }
}

.footer, .barra-contato {
    .social{
        float: right;
        li{
            @include inline-block;
            a{
                display: block;
                @include replace-text-with-dimensions('sprites/social-facebook.png');
            }
        }
        .fb { background:transparent sprite($icones, social-facebook) no-repeat; }
        .tw { background:transparent sprite($icones, social-twitter) no-repeat; }
        .in { background:transparent sprite($icones, social-linkedin) no-repeat; }
        .yt { background:transparent sprite($icones, social-youtube) no-repeat; }
    }
}

.destaques {
    background: transparent image-url('home-destaques-sombra.png') no-repeat center bottom;
    padding: 1px 1px 20px;

    .columns {
        @include single-box-shadow(rgba(#333,0.5));
        background: $white;
        padding: 10px;
        height: 320px;

        .orbit-wrapper {
            height: 300px !important;

            .slider-nav span{
                @include opacity(.5);
            }
        }

        .container-destaques {
            overflow: hidden;
            width: 940px;
            height: 300px !important;
            position: relative;
            overflow: hidden;
        }
    }
}

.lista-setinha {
    @include pretty-bullets("sprites/twit-bullet.png", 9px, 9px);
}

.noticias-twitter {
    h3 a {
        display: inline-block;
        padding-left: 50px;
        height: 40px;
        line-height: 40px;
        background: sprite($icones, bullet-twitter) no-repeat;
    }

    ul {
        @extend .lista-setinha;
        li {
            @include font-size(12);
            line-height: 1.1em;
            margin-bottom: 8px;

            span {
                color: $black;
                @include font-size(10);
            }

            a { color: #27669c; }
        }
    }
}

p.preto, p .preto { color: $black; }
p.branco, p .branco { color: $white; }
p.vermelho, p .vermelho, td .vermelho { color: $vermelho; }

.titulo {
    padding-left: 30px;
    margin-top: 0;
    @include sans-serif("AvenirNextLTPro-Regular");

    &.preto { background:transparent sprite($icones, titulos-seta-preta) no-repeat; }
    &.branco { background:transparent sprite($icones, titulos-seta-branca) no-repeat; color: $white; }
    &.vermelho {
        padding-left: 45px;
        height: 40px;
        padding-top: 5px;
        background: sprite($icones, bullet-vermelho-seta) no-repeat;
    }
}

.chamada-destaque {
    p {
        margin: 20px 0;
    }
}

.chamada {
    float: right;
    font-weight: bold;
}

.link-lupa {
    // overflow: hidden;
    position: relative;

    .lupa {
        position: absolute;
        display: block;
        background: $black sprite($icones, lupa-ampliar, 3px, 3px) no-repeat;
        bottom: 10px;
        right: -5px;
        width: 30px;
        height: 30px;
        @include hide-text;
        @include border-radius(5px);
    }

    &.lancamento-home {
        display: block;
        width: 283px;
        height: 240px;
        line-height: 240px;
        text-align: center;
        background: #e6e6e6;

        img {
            float: none;
            margin: 0 auto;
        }
    }
}

.linha-sobre {
    border-top: 1px dashed #cecece;
    padding-top: 15px;
}

.linha-sob {
    border-bottom: 1px dashed #cecece;
    padding-bottom: 5px;
}

a.camera-player {
    width: 300px;
    height: 240px;
    display: block;
}

.listagem-items {
    ul {
        width: 100%;

        li {
            $altura_img: 200px;
            height: $altura_img + 20;

            .img {
                height: $altura_img;
                width: 200px;
                display: table;
                overflow: hidden;

                .container-img {
                    width: 200px;
                    height: $altura_img;
                    line-height: $altura_img;
                    text-align: center;
                    background: #e6e6e6;
                    display: table-cell;
                    vertical-align: middle;

                    img {
                        float: none;
                        margin: 0 auto;
                        max-width: 200px;
                    }
                }
            }

            .body {
                p {
                    line-height: 1.2em;
                }
            }
        }
    }
}

.obras {
    ul {
        overflow: visible;

        li {
            span {
                float: right;
                display: block;
                margin-right: 2%;
                text-align: right;
                color: $black;
                max-width: 48%;
            }

            .porcentagem {
                width: 140px;
                height: 15px;
                background: transparent image-url('evolucao-cinza.jpg') repeat-x left center;
                float: right;
                margin-top: 5px;

                .valor {
                    color: $white;
                    height: 100%;
                    background: transparent image-url('evolucao-vermelho.jpg') repeat-x left center;
                    line-height: 15px;
                    text-align: right;
                    padding: 0 5px;
                    overflow: visible;
                    @include font-size(10);

                    @for $i from 0 through 100 {
                      &.p#{$i} { width: 0% + $i; }
                    }

                    div {
                        display: block;
                        float: right;
                        width: 26px;
                        height: 18px;
                        padding-top: 0px;
                        margin-top: -18px;
                        margin-right: -20px;
                        color: $white;
                        font-size: 9px;
                        text-align: center;
                        background: transparent image-url('evolucao-balao.png') no-repeat top left;
                    }
                }

            }
        }
    }
}

.mapa {
    background: transparent image-url('home-destaques-sombra.png') no-repeat center bottom;
    padding: 2px 1px 20px;

    img { max-width: none; height: auto }

    .container-mapa {
        @include single-box-shadow(rgba(#333,0.5));
        padding: 10px;
        background:#ffffff;
        width: 960px;
        height: 560px;

        #map-canvas {
            width: 940px;
            height: 540px;
        }
    }

    .infoBox {
        .seta { @include cssTriangle(10px, #e6e6e6, right);  }

        .box-info {
            $fundo-box: $black;//lighten($black, 20%);
            padding: 10px;
            background: $fundo-box;
            border: 5px solid #e6e6e6;
            @include background-image(linear-gradient($fundo-box, lighten($fundo-box, 5%)));
            @include single-box-shadow(rgba(#333,0.7), 0, 5px, 10px);
            @include border-radius(5px);
            color: #ffffff;

            h3 {
                color: #ffffff;
                margin-bottom: 10px;
            }

            img {
                max-width: 100%;
                height: auto;
                border: 1px solid $white;
                background: #e6e6e6 ;
                margin: 0 auto 5px;
            }
        }
    }
}

form {
    .btn-enviar {
        background: transparent;
        border: none;
        float: right;
        @include sans-serif("AvenirNextLTPro-Regular");
        @include font-size(28);
        font-weight: normal;
    }

    div.fileinputs {
        position: relative;
        height: 50px;
        margin-bottom: 10px;
    }

    div.fakefile {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
    }

    input.file {
        position: relative;
        text-align: right;
        z-index: 2;
        width: 100%;
        height: 100%;
        @include opacity(0);
    }

    .prefix {
        padding: 5px;
        margin: 0;
    }
}

.subarea {
    margin-top: 30px !important;
}

#certificados {
    .link-lupa {
        margin-right: 20px;

        img {
            margin-top: 30px;
            border: 3px solid $black;
        }
    }
}

.home {
    .row.header {
        position: absolute;
        top: 35px;
        left: 50%;
        margin-left: -480px;
        padding-top: 0;
        height: 125px;
        z-index: 10;
        background:#ffffff image-url('fundo-grande.jpg') left top repeat-x;
        @include single-box-shadow(rgba(#333,0.5), 0, 5px, 10px);
    }

    .destaques {
        background:none;
        padding: 0;
        margin: 0 auto 20px;
        height: 480px;
        width: 100%;
        max-width: 1360px;
        position: relative;
        z-index: 1;

        .orbit-wrapper {
            height: 440px !important;

            .slider-nav span{
                width: 78px;
                height: 100px;
                margin-top: -50px;
                @include opacity(.5);
            }

            .orbit-caption {
                background: transparent sprite($icones, titulos-seta-branca, 10px, 15px) no-repeat;
                background-color: #000000;
                color: $white;
                height: 60px;
                bottom: -60px;
                text-align: left;
                padding: 0 20px 0 40px;
                margin-top: -55px;
                line-height: 60px;
                zoom: 1;
                // @include border-bottom-radius(10px);
                @include single-box-shadow(rgba(#333,0.5), 0, 5px, 10px);
                @include sans-serif("AvenirNextLTPro-Regular");
                @include font-size(30);
            }

            .timer {
                top: 390px !important;
            }
        }

        .orbit-slide {
            a {
                display: block;
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    min-width: 1360px;
                    margin-left: -680px;
                }
            }

        }

        .container-destaques {
            width: 940px;
            height: 440px !important;
            position: relative;
            overflow: hidden;
            @include single-box-shadow(rgba(#333,0.5), 0, 5px, 10px);
        }

        .orbit-bullets {
            bottom: 0px;

            li {
                width: 15px;
                height: 15px;
                background: transparent sprite($icones, home-destaques-dot-alpha) no-repeat;
                &.active { background: transparent sprite($icones, home-destaques-dot-alpha-active) no-repeat; }
            }
        }
    }

    .botoes-atalhos {
        $cor_fundo: #f6f6f6;
        $icon_height: 44px;

        height: 100px;
        margin-bottom: 30px;
        background: $cor_fundo;
        // @include background-image(linear-gradient($cor_fundo, darken( $cor_fundo, 10% )));

        a {
            display: block;
            @include column(6);
            @include mobileColumn(2);

            height: 100px;
            padding-top: 30px;
            color: #666666;
            line-height: $icon_height;
            text-align: center;
            text-transform: uppercase;
            border:{
                width: 0 1px;
                style: solid;
                color: rgba( #cccccc, 0.5 );
            }


            @include sans-serif("AvenirNextLTPro-Demi");
            @include font-size(14);
            @include background-image(linear-gradient($cor_fundo, darken( $cor_fundo, 10% )));
            @include transition-property(color);
            @include transition-duration(1s);

            span {
                display: inline-block;
                margin-right: 5px;
                color: #cccccc;
                line-height: $icon_height;
                vertical-align: middle;

                @include font-size($icon_height);

                @include transition-property(color);
                @include transition-duration(1s);
            }

            &:hover {
                color: #000000;
                background: darken( $cor_fundo, 20% );
                @include background-image(linear-gradient(darken( $cor_fundo, 5% ), darken( $cor_fundo, 15% )));

                span {
                    color: $vermelho;
                    @include single-text-shadow(0, 0, 3px, false, #666666);
                }
            }
        }
    }
}

.empreendimentos-detalhe, .lancamentos-detalhe {
    .destaques {
        background-position: center bottom;
        padding-top: 1px;

        .columns {
            @include single-box-shadow(rgba(#333,0.5));
            height: 320px;

            .container-destaques {
                overflow: hidden;
                width: 940px;
                height: 300px;
                position: relative;

                .descritivo {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 30%;
                    height: 100%;
                    background: $black;
                    background: rgba($black, 0.4);
                    color: $white;
                    padding: 30px;
                }
            }
        }
    }

    .obras {
        p {
            font-weight: bold;
            text-align: center;
            @include font-size(18);
        }

        ul {
            width: 295px;
            float: left;
            // margin-top: 15px;
            @include no-bullets;

            li {
                width: 100%;
                height: 55px;
                float: left;

                span {
                    padding-top: 10px;
                    float: left;
                    display: inline-block;
                    width: 74px;
                    margin: 0;
                    margin-right: 10px;
                }

                .porcentagem {
                    width: 210px;
                    height: 20px;
                    margin-top: 10px;
                    float: left;

                    .valor {
                        @include font-size(18);
                    }
                }
            }
        }
    }

    .mapa {
        background:none;

        .container-mapa {
            @include single-box-shadow(rgba(#333,0.5));
            padding: 10px;
            background:#ffffff;
            width: 100%;
            height: 500px;

            #map-canvas {
                width: 100%;
                height: 100%;
            }
        }
    }

    .link-lupa {
        display: inline-block;
        overflow: visible;
        padding-top: 20px;
    }

    .panel {
        .nome-bloco {
            color: #6e6e6e;
            margin-bottom: 4px;
        }
        .preto { @include font-size(16) }
    }

    .banners {
        text-align: center;
    }

    .telefones {
        padding: 20px 50px;
        background: #27669c;
        color: $white;
        text-align: center;
        margin: 53px 0 30px;

        p {
            @include font-size(18);
            margin-bottom: 5px;
        }

        .icone-telefone {
            display: inline-block;
            @include hide-text(center);
            @include sprite-dimensions($icones, icone-telefone);
            background:transparent sprite($icones, icone-telefone) no-repeat;
            margin: 0 auto;
        }
        .inscricoes {
            @include sans-serif("AvenirNextLTPro-Demi");
            @include font-size(24);
        }
    }
}

.post-type-archive-publicacoes {
    .item-publicacao {
        height: 290px;

        a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
            }

            h3 {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.7);
                color: #ffffff;
                padding: 10px;
                margin: 0;
                @include opacity(0);
                @include transition-property(opacity);
                @include transition-duration(0.5s);

                small {
                    color: #ffffff;
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .lupa {
                z-index: 2;
            }

            &:hover {
                h3 { @include opacity(1); }
            }
        }
    }
}

ul.the_listmap{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;

    > li {
        @include inline-block;
        vertical-align: top;
        margin-right: 30px;

        &:last-child{
            margin-right: 0px;
            $cinza: darken($white,20%);
            a { @include link_colors($cinza, $cinza, $cinza, $cinza); }
        };

        a { @include link_colors($white, $white, $white, $white); }

        > a:first-child {
            font-weight: bold;
            text-transform: uppercase;
        }

        > ul{
            margin: 0;
            padding: 0;
            list-style: none;

            > li{
                list-style: none;
            }
        }
    }
}


/* Ipad */
@media only screen and (max-width: 769px) {
    .header {
        position: relative;
        left: 0%;
        top: 30px;
        margin-left: 0px;
        height: auto;
        width: 100%;
        background: image-url('fundo.jpg') left top repeat;

        .logo {
            float: none;
            margin: 0 auto;
        }

        .menu-principal {
            ul.menu {
                float: none;
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    .home {
        .row.header {
            position: relative;
            left: 0%;
            top: 50px;
            margin-left: 0;
            height: auto;
            width: 100%;
        }
    }

    .footer-unidades {
        .ipad { background-position: center top; }

        .unidades {
            .cima { border: none; }
            .unidade { margin: 0 20px; }
        }
    }

    .footer {
        .direitos { padding: 0 20px; }
    }

    ul.the_listmap {
        margin: 0 20px;
    }

    .obras {
        ul {
            li {
                span {
                    float: none;
                    display: block;
                    margin: 0;
                    text-align: left;
                    width: 100%;
                    max-width: 100%;
                }

                .porcentagem {
                    width: 100%;
                    float: none;
                    margin-top: 5px;
                }
            }
        }
    }
}

/* Smartphones */
@media only screen and (max-width: 479px) {
    .row .row {
        margin: 0;
    }

    .barra-preta {
        .menu-secundario {
            position: relative;
            min-height: 40px;

            .sub-nav {
                width: 100%;
                min-height: 35px;
                padding: 5px 0;
                position: absolute;
                top: 0;
                left: 0;
                background: transparent image-url('icon-menu.png') no-repeat 10px 10px;

                dd {
                    display: none;
                    margin: 0;

                    a {
                        display: block;
                        padding: 5px 5px 5px 32px;
                        text-align: left;
                    }
                }

                &:hover {
                    background-image: none;
                    background-color: #000000;

                    dd {
                        display: block;
                        width: 100%;
                        margin: 0 0 5px;
                    }
                }
            }
        }
    }

    .footer {
        .direitos {
            p { float: none !important; }
        }

        .branco { text-align: center; }
        .social {
            float: none !important;
            clear: both;
            margin: 20px auto;
            text-align: center;
        }
    }

    .barra-contato {
        height: 100px;

        .alo-pacaembu {
            margin-top: 0;
            margin-bottom: 10px;

            h3 {
                font-size: 14px;

                span {
                    font-size: 18px !important;
                    float: left;
                    white-space: nowrap;
                    margin-left: 30px;
                }
            }
        }

        .social-container {
            padding: 0;
            margin: 0;

            .social {
                width: 100%;
            }
        }
    }

    ul.the_listmap {
        margin: 0 20px;

        >li {
            margin-bottom: 20px;
        }
    }

    $altura-destaques: 160px;
    .home {
        .row.header {
            .menu-principal {
                .menu {
                    float: none;
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }

        .destaques {
            float: none;
            height: $altura-destaques;
            width: 100%;
            max-width: 100%;
            margin: 50px 0 0;

            .container-destaques { height: $altura-destaques !important; }

            .orbit-wrapper {
                height: $altura-destaques !important;

                .orbit-caption, .timer { display: none !important; }
            }

           .orbit-slide {
                a {
                    img {
                        left: -25%;
                        min-width: 150%;
                        margin-left: 0;
                    }
                }
            }

            .orbit.with-bullets {
                margin-bottom: 0;
            }
        }

        .botoes-atalhos {
            margin-bottom: 20px;
            height: auto;

            a {
                height: 50px;

                span {
                    @include font-size(24px);
                }
            }
        }

        .obras {
            ul li { padding-bottom: 30px; }
        }
    }

    .titulo {
        font-size: 24px;
    }

    .listagem-items {
        ul {
            margin: 0 !important;

            li {
                $altura_img: 120px;
                height: auto;
                overflow: hidden;

                .img {
                    height: $altura_img;
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 5px;

                    .container-img {
                        width: 100%;
                        height: $altura_img;
                        line-height: $altura_img;
                        padding: 5px;

                        img {
                            float: none;
                            margin: 0 auto;
                            max-width: 100%;
                        }
                    }
                }

                .body {
                    p {
                        line-height: 1.2em;
                    }
                }
            }
        }
    }

    .mapa {
        background: none;

        .container-mapa {
            width: 100%;
            height: 360px;

            #map-canvas {
                width: 100%;
                height: 340px;
            }
        }
    }

    .empreendimentos-detalhe, .lancamentos-detalhe {
        margin-top: 10px;

        .destaques {
            background: none;

            .columns {
                height: auto;

                .container-destaques {
                    overflow: hidden;
                    width: 100%;
                    height: auto !important;
                    position: relative;

                    img {
                        position: relative;
                        width: 150%;
                        max-width: 150%;
                        left: -25%;
                    }

                    .descritivo {
                        position: relative;
                        width: 100%;
                        height: auto;
                        background: none;
                        color: $black;
                        padding: 0px;
                        margin-top: 10px;

                        .titulo.branco {
                            color: $black;
                            background:transparent sprite($icones, titulos-seta-preta) no-repeat;
                        }

                        ul { margin: 0; }
                    }
                }
            }
        }
    }
}

@import "jcarousel";