@import "stitch";
@import "normalize";
@import "fonts";
@import "settings";
@import "foundation";
@import "vendor/inuit";
@import "stuff";
@import "mixin";

$icones: sprite-map('sprites/*.png', $spacing: 100px);

body {
    border-top: 6px solid #d21000;
    background:#ffffff image-url('fundo.jpg') left top repeat-x;

    &.bg-grande {
        background:#ffffff image-url('fundo-grande.jpg') left top repeat-x;
    }
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cf{
    @include clear-floats;
}

.menu-secundario {
    .sub-nav { 
        margin: 0; 
        float: right;

        a {
            color: #000000;
            display: inline-block;
            // padding-left: 17px;
            @include font-size(10);

            // &.webmail { background: sprite($icones, ico-webmail, 0, 2) no-repeat; }
            // &.intranet { background: sprite($icones, ico-intranet) no-repeat; }
            // &.fale-conosco { background: sprite($icones, ico-fale-conosco) no-repeat; }
            // &.trabalhe-conosco { background: sprite($icones, ico-trabalhe-conosco) no-repeat; }
        }
    }
}

.header {
    .logo {
        display: block;
        @include replace-text-with-dimensions('logo.png');
    }

    .menu-principal {
        ul.menu {
            margin-top: 30px;

            > li {
                a {
                    color: $black;
                    display: block;
                    @include sans-serif("AvenirNextLTPro-Demi");
                    @include font-size(18);
                }
                &:hover{
                    a{
                        &:hover, &.active {
                            color: $white;
                            background:{
                                image: image-url('sprites/menu-seta-baixo.png');
                                repeat: no-repeat;
                                position: center 70px;
                            }
                        }
                    }
                }

                > .sub-menu {
                    a { 
                        color: $black; 
                        &:hover, &.active { color: $black; }
                    }
                }
            }
        }
    }
}

.conteudo {
    margin-top: 50px;
    padding-bottom: 50px;

    .breadcrumbs {
        background:transparent;
        border: none;
        float: right;
        
        li {
            background:transparent sprite($icones, subtitulo-seta, 0, 2px) no-repeat;
            padding-left: 25px;

            &:before {
                content: "";
            };

            a {
                margin: 0;
                padding: 0;
                color: $black;
                text-transform: uppercase;
                @include sans-serif("AvenirNextLTPro-Regular");
                @include font-size(15);
            }
        }
    }
}

.footer-unidades {
    background:#ffffff image-url('fundo-grande.jpg') repeat left top;
    padding-top: 30px;

    .ipad {
        background: transparent image-url('ipad-fundo.png') no-repeat left top;
        width: 270px;
        height: 270px;
        padding-top: 60px;
        text-align: center;
        text-transform: uppercase;
        
        p { 
            @include sans-serif("AvenirNextLTPro-Regular");
            @include font-size(20); 
            line-height: 1.2em;
            margin-top: 10px;
        }
    }

    .unidades {
        .cima {
            border-bottom: 1px dashed $white;
        }

        .unidade {
            background: transparent image-url('sprites/ico-endereco.png') no-repeat 0 13px;
            padding-left: 25px;

            h3 {
                color: #27669c;
                @include sans-serif("AvenirNextLTPro-Regular");
            }

            p {
                @include sans-serif("AvenirNextLTPro-Demi");
                @include font-size(16);
                margin: 5px 0 20px;
            }
        }
    }
}

.footer {
    background:#757575;
    padding: 30px 0 15px;

    ul.menu {
        width: 100%;

        > li {
            @include horizontal-list-item(false);
            margin-right: 10px;
            a { color: $white; }
        }
    }

    .direitos {
        margin-top: 20px;
        text-align: center;
        color: #bababa;

        p { margin: 0; float: left; }
        ul.social{
            float: right;
            li{
                @include inline-block;
                a{
                    display: block;
                    @include replace-text-with-dimensions('sprites/social-facebook.png');
                }
            }
            .fb { background:transparent sprite($icones, social-facebook) no-repeat; }
            .tw { background:transparent sprite($icones, social-twitter) no-repeat; }
            .in { background:transparent sprite($icones, social-linkedin) no-repeat; }
        }
    }
}

.destaques {
    background: transparent image-url('home-destaques-sombra.png') no-repeat center bottom;
    padding: 1px 1px 20px;

    .columns {
        @include single-box-shadow(rgba(#333,0.5));
        background: $white;
        padding: 10px;
        height: 310px;

        .orbit-wrapper {
            height: 290px !important;
            // overflow: hidden;


            .slider-nav span{
                @include opacity(.5);
            }

            .orbit-caption {
                // Background transparent no IE 6-8
                background: none;
                -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
                zoom: 1;

                background-color: rgba(0,0,0, .6);
                height: 60px;
                bottom: 20px;
                text-align: left;
                padding: 0 20px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 60px;
                    padding-left: 30px;
                    color: $white;
                    background: transparent sprite($icones, titulos-seta-branca, 0, 15px) no-repeat;
                    @include sans-serif("AvenirNextLTPro-Regular");
                    @include font-size(30);

                }
            }
        }

        .container-destaques {
            // overflow: hidden;
            width: 940px;
            height: 290px !important;
            position: relative;
            overflow: hidden;
        }

        .orbit-bullets {
            top: 10px;

            li { 
                width: 15px;
                height: 15px;
                background: transparent sprite($icones, home-destaques-dot-alpha) no-repeat;
                @include opacity(0.5);
                &.active { background: transparent sprite($icones, home-destaques-dot-alpha-active) no-repeat; }
            }
        }
    }
}

.lista-setinha {
    @include pretty-bullets("sprites/twit-bullet.png", 9px, 9px);
}

.noticias-twitter {
    h3 {
        padding-left: 50px;
        height: 40px;
        padding-top: 5px;
        background: sprite($icones, bullet-twitter) no-repeat;
    }

    ul {
        @extend .lista-setinha;
        li {
            @include font-size(12);
            line-height: 1.1em;
            margin-bottom: 8px;

            span {
                color: $black;
                @include font-size(10);
            }

            a { color: #27669c; }
        }
    }
}

p.preto, p .preto { color: $black; }
p.vermelho, p .vermelho { color: #d21000; }

.titulo {
    padding-left: 30px;
    margin-top: 0;
    @include sans-serif("AvenirNextLTPro-Regular");

    &.preto { background:transparent sprite($icones, titulos-seta-preta) no-repeat; }
    &.branco { background:transparent sprite($icones, titulos-seta-branca) no-repeat; color: $white; }
    &.vermelho {
        padding-left: 45px;
        height: 40px;
        padding-top: 5px;
        background: sprite($icones, bullet-vermelho-seta) no-repeat;
    }
}

.chamada-destaque {
    h3 {
        padding-left: 45px;
        height: 40px;
        padding-top: 5px;
        background: sprite($icones, bullet-vermelho-seta) no-repeat;
    }

    p {
        margin: 20px 0;
    }
}

.chamada {
    float: right;
    font-weight: bold;
}

.link-lupa {
    overflow: hidden;
    position: relative;

    span {
        position: absolute;
        display: block;
        background: $black sprite($icones, lupa-ampliar, 3px, 3px) no-repeat;
        bottom: 10px;
        right: -5px;
        width: 30px;
        height: 30px;
        @include hide-text;
        @include border-radius(5px);
    }
}

.linha-sobre {
    border-top: 1px dashed #cecece;
    padding-top: 5px;
}

.linha-sob {
    border-bottom: 1px dashed #cecece;
    padding-bottom: 5px;
}

a.camera-player {
    width: 300px;
    height: 240px;
    display: block;
}

.listagem-items {
    ul {
        width: 100%;

        li {
            height: 180px;

            .img {
                display: table; 
                height: 150px; 
                #position: relative; 
                overflow: hidden;

                .container-img {
                    width: 244px;
                    height: 143px;
                    line-height: 143px;
                    text-align: center;
                    background: #e6e6e6;
                    #position: absolute; 
                    #top: 50%;
                    display: table-cell; 
                    vertical-align: middle;

                    img {
                        float: none;
                        margin: 0 auto;
                        #position: relative; 
                        #top: -50%;
                    }
                }
            }

            .body {
                p {
                    line-height: 1.2em;
                }
            }
        }
    }
}

.obras {
    h3 { 
        text-align: center;
        @include sans-serif("AvenirNextLTPro-Bold");
        padding: 15px 0;
    }

    ul {
        li {
            span {
                float: right;
                display: block;
                margin-right: 2%;
                text-align: right;
                color: $black;
                max-width: 48%;
            }

            .porcentagem {
                width: 50%;
                height: 15px;
                background: #d4e0eb;
                float: right;
                margin-top: 5px;
                
                .valor {
                    color: $white;
                    height: 100%;
                    background: #27669c;
                    line-height: 15px;
                    text-align: right;
                    padding: 0 5px;
                    @include font-size(10);

                    @for $i from 0 through 100 {
                      &.p#{$i} { width: 0% + $i; }
                    }
                }
                
            }
        }
    }
}

.mapa {
    background: transparent image-url('home-destaques-sombra.png') no-repeat center bottom;
    padding: 2px 1px 20px;

    .container-mapa {
        @include single-box-shadow(rgba(#333,0.5));
        padding: 10px;
        background:#ffffff;
        width: 960px;
        height: 560px;

        #map-canvas {
            width: 940px;
            height: 540px;
        }
    }
}

form {
    .btn-enviar {
        background: transparent;
        border: none;
        float: right;
        @include sans-serif("AvenirNextLTPro-Regular");
        @include font-size(28);
        font-weight: normal;
    }

    div.fileinputs {
        position: relative;
        height: 50px;
        margin-bottom: 10px;
    }

    div.fakefile {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
    }

    input.file {
        position: relative;
        text-align: right;
        z-index: 2;
        width: 100%;
        height: 100%;
        @include opacity(0);
    }

    .prefix {
        padding: 5px;
        margin: 0;
    }
}

.subarea {
    margin-top: 30px !important;
}

#certificados {
    .link-lupa {
        margin-right: 20px;
        
        img {
            margin-top: 30px;
            border: 3px solid $black;
        }
    }
}

.empreendimentos-detalhe, .lancamentos-detalhe {
    .destaques {
        background-position: center bottom;
        padding-top: 1px;

        .columns {
            @include single-box-shadow(rgba(#333,0.5));
            height: 310px;

            .container-destaques {
                overflow: hidden;
                width: 940px;
                height: 290px;
                position: relative;

                .descritivo {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 30%;
                    height: 100%;
                    background: $black;
                    background: rgba($black, 0.4);
                    color: $white;
                    padding: 30px;
                }
            }
        }
    }

    .obras {
        p {
            font-weight: bold;
            text-align: center;
            @include font-size(18);
        }

        ul {
            width: 100%;
            float: left;
            @include no-bullets;
            li { 
                width: 100%; 
                float: left;
                span { float: left; }
            }
        }

        .porcentagem {
            width: 100%;
            height: 25px;
            text-align: center;

            .valor {
                line-height: 25px;
                @include font-size(18);
            }
        }
    }

    .mapa {
        background:none;

        .container-mapa {
            @include single-box-shadow(rgba(#333,0.5));
            padding: 10px;
            background:#ffffff;
            width: 100%;
            height: 300px;

            #map-canvas {
                width: 100%;
                height: 100%;
            }
        }
    }

    .link-lupa {
        display: inline-block;
        overflow: visible;
        padding-top: 20px;
    }

    .panel {
        .nome-bloco { 
            color: #6e6e6e;
            margin-bottom: 4px;
        }
        .preto { @include font-size(16) }
    }

    .banners {
        text-align: center;
    }
}

ul.the_listmap{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;

    > li {
        @include inline-block;
        vertical-align: top;
        margin-right: 30px;
        
        &:last-child{
            margin-right: 0px;
            $cinza: darken($white,20%);
            a { @include link_colors($cinza, $cinza, $cinza, $cinza); }
        };

        > a { 
            @include link_colors($white, $white, $white, $white); 
        }

        > a:first-child {
            font-weight: bold;
            text-transform: uppercase;
        }

        > ul{
            margin: 0;
            padding: 0;
            list-style: none;

            > li{
                list-style: none;
            }
        }
    }
}

/* Ipad */
@media only screen and (max-width: 767px) {
    .header {
        .logo {
            float: none;
            margin: 0 auto;
        }
    }
    .footer-unidades {
        .ipad { background-position: center top; }

        .unidades {
            .cima { border: none; }
            .unidade { margin: 0 20px; }
        }
    }

    .footer {
        .direitos { padding: 0 20px; }
    }

    ul.the_listmap {
        margin: 0 20px;
    }
}

/* Smartphones */
@media only screen and (max-width: 479px) {
    .footer {
        .direitos {
            p { float: none !important; }
            .social { 
                float: none !important;
                clear: both; 
                margin: 20px auto;
            }
        }
    }

    ul.the_listmap {
        margin: 0 20px;

        >li {
            margin-bottom: 20px;
        }
    }
}